@media screen and (max-width: 1000px) {
  #main-wrapper{
    display: flex;
    flex-direction: column;
  }
  .sidebar{
    display: flex;
    flex-direction: row;
    flex-basis: unset;
    width: 100%;
    height: 100px;
    position:sticky;
    background-image: unset;
    background-color: navy;
  }

  .sidebar header{
    display: block;
    width: 80%;
    height: 80px;
    margin: 10px auto 10px 20px;
    text-align: left;
  }
  .sidebar header h2{
    font-size: 70px;
  }
  .dropbtn {
    display: block;
    align-self: flex-end;
    background-color:#ff7400;
    color: black;
    padding: 10px;
    font-size: 2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px 30px 15px auto;
  }
  .dropdown-content {
    display: none;
    position:fixed;
    left: 0;
    top: 100;
    height: fit-content;
    background-color:lightgray;
    min-width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
  }
  .dropdown-content nav a{
    color: black;
  }
  .dropdown-content nav a:hover{
    background-color: white;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1;}

  .dropdown-content img{
    height: 20px;
  }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally
@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar .logout{
    position: relative;
  }
} */